# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.local

# Flask
instance/
*.log

# Node / Frontend
node_modules/
dist/
build/
.vite/

# OS
.DS_Store
Thumbs.db

# Redis
dump.rdb

# IDE
.vscode/
.idea/
